* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1rem;
}

.main {
    width: 50%;
    max-width: 700px;
    min-width: 400px;
    margin: 10em auto;
    border: 1px solid black;
    border-radius: .5em;
    padding: 1em;
}

.header {
    text-align: center;
    margin-bottom: 1em;
}

.quote-section {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
}

.quote {
    margin-bottom: 1em;

}

.fa  {
    margin-left: .5em;
    margin-right: .5em;
}

.fa-quote-left {
    align-self: flex-end;
}

li {
    list-style: none;
    display: inline;
    margin-right: .7em;
}

#button {
    margin-left: auto;
    display: block;
}

.author-wrapper {
    margin-left: auto;
}

.author {
    text-decoration: underline;
    
}